<html>
    <body>
        <h1>feriados</h1>
        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>dia</th>
                        <th>titulo</th>
                        <th>estado</th>
                        <th>true/false</th>
                        <th>irrenunciable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feriado in feriados %}
                    <tr>
                        <td>{{ feriado.date }}</td>
                        <td>{{ feriado.title }}</td>
                        <td>{{ feriado.type }}</td>
                        <td>{{ feriado.inalienable }}</td>
                        <td>{{ feriado.extra }}</td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
       </div>
    </body>
</html>






